@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Passions+Conflict&display=swap');


@layer base {

    body {
        @apply font-[Montserrat] h-screen bg-gradient-to-b from-slate-600 to-slate-400
    }
    li {
        @apply p-6 text-lg font-bold list-none 
    }
    .magnify {
        @apply text-2xl flex p-1 cursor-pointer right-10 top-10
    }   
    .title {
        @apply text-4xl p-2 font-bold top-2 left-5
    }
    .login {
        @apply text-xl flex justify-center right-16 top-2
    }
    .login2 {
        @apply rounded-md p-4 m-2 text-white w-20 h-10
    }

    .welcome2 {
        @apply px-4 text-2xl font-bold 
    }

    .form {
        @apply flex justify-center bottom-60
    }
    
    .siginbutton {
        @apply m-2 w-32 h-10
    }
    .homebutton {
        @apply relative left-5 m-2 w-60 h-10
    }
    .submitbutton {
        @apply absolute bottom-32 w-32 h-10
    }
    input {
        @apply relative rounded-md p-4 m-2 right-8
    }
    label{
        @apply relative rounded-md p-4 m-2 left-20 text-white
    }
    .inquiry {
        @apply relative bottom-96 w-32 h-10 right-96
    }
    .navitems {
        @apply relative top-2 cursor-pointer
    }
    .text {
        @apply text-white
    }
    .logreturn {
        @apply w-28 h-10
    }
    
}

.main {
    width: 100%;
    height: 100%;
    top: -300px;
    align-content: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome2 {
    bottom: 600px;
}
.submitbutton {
    left: 860px;
}
.Genre {
   bottom: 750px;

}
.logreturn {
    position:absolute;
    bottom: 330px;
    right: 400px;
}
.fields {
    bottom: 300px;
}
.fields2 {
    bottom: 350px
}
.login2 {
    position:absolute;
    bottom: 310px;
    right: 550px;   
}
.genre {
    bottom: 700px;
    left: 900px;
}

.genrepick {
    bottom: 775px;
    left: 900px;
}