@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Passions+Conflict&display=swap');


@layer base {

    body {
        @apply font-[Montserrat] h-screen bg-gradient-to-b from-slate-600 to-slate-400
    }
    li {
        @apply p-6 text-lg font-bold cursor-pointer
    }
    .magnify {
        @apply text-2xl flex justify-end p-1 top-5 right-5 cursor-pointer
    }
    
}

.main {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    flex-direction: column;
}